{% extends 'primary.html' %}

{% block content %}

<div class="main">
    <div class="centre">
        <h1>{% block title%} Data {% endblock %}</h1>
        <img src="{{ figs[0][2] }}">
        <form action="/update-data" method="post">
            <div class="centre">
                <div class="choice">
                    <p>Ticker</p>
                    <input type="text" id="ticker" name="ticker" placeholder="e.g. AAPL">
                </div>
                <div class="choice">
                    <p>Interval</p>
                    <input type="number" id="time_period" name="time_period" placeholder="e.g. 15 minutes">
                </div>
                <div class="choice">
                    <p>Date From</p>
                    <input type="date" id="start_date" name="start_date" placeholder="e.g. dd-mm-yyyy">
                </div>
                <div class="choice-last">
                    <p>Date To</p>
                    <input type="date" id="end_date" name="end_date" placeholder="e.g. dd-mm-yyyy">
                </div>
                <div class="finished">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div class="table-centre">
            <table>
                <tr>
                    <th>datetime</th>
                    <th>Company</th>
                    <th>Volume</th>
                    <th>Weighted Volume</th>
                    <th>Opening Value</th>
                    <th>Closing Value</th>
                    <th>Highest Value</th>
                    <th>Lowest Value</th>
                    <th>Trades</th>
                </tr>
                {% for row in data %}
                    <tr>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                        <td>{{ row[9] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}